@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--background: 129 55% 98%;
		--foreground: 129 52% 5%;
		--muted: 129 29% 87%;
		--muted-foreground: 129 8% 27%;
		--popover: 129 55% 98%;
		--popover-foreground: 129 52% 5%;
		--card: 129 55% 97%;
		--card-foreground: 129 52% 4%;
		--border: 129 5% 88%;
		--input: 129 5% 88%;
		--primary: 129 75% 62%;
		--primary-foreground: 129 75% 2%;
		--secondary: 129 20% 82%;
		--secondary-foreground: 129 20% 22%;
		--accent: 129 27% 74%;
		--accent-foreground: 129 27% 14%;
		--destructive: 14 93% 23%;
		--destructive-foreground: 14 93% 83%;
		--ring: 129 75% 62%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 129 46% 4%;
		--foreground: 129 10% 97%;
		--muted: 129 29% 13%;
		--muted-foreground: 129 8% 73%;
		--popover: 129 46% 4%;
		--popover-foreground: 129 10% 97%;
		--card: 129 46% 5%;
		--card-foreground: 129 10% 98%;
		--border: 129 5% 10%;
		--input: 129 5% 10%;
		--primary: 129 75% 62%;
		--primary-foreground: 129 75% 2%;
		--secondary: 129 2% 12%;
		--secondary-foreground: 129 2% 72%;
		--accent: 129 8% 18%;
		--accent-foreground: 129 8% 78%;
		--destructive: 14 93% 60%;
		--destructive-foreground: 0 0% 0%;
		--ring: 129 75% 62%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
